# Studio
*.iml
/.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

#MacOS
.DS_Store

# Local configuration file (sdk path, etc)
local.properties

# Gradle files
.gradle/
build/

# Built application files
*.apk
*.aar
*.ap_
*.aab

# App Release Files
app/release/*
